/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 16px;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLT-UltraLight.eot?') format('eot'), url('../fonts/HelveticaNeueLT-UltraLight.woff') format('woff'), url('../fonts/HelveticaNeueLT-UltraLight.ttf') format('truetype'), url('../fonts/HelveticaNeueLT-UltraLight.svg#HelveticaNeueLT-UltraLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helveticaneuecyr-roman_1-webfont.eot');
  src: url('../fonts/helveticaneuecyr-roman_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-roman_1-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-roman_1-webfont.ttf') format('truetype'), url('../fonts/helveticaneuecyr-roman_1-webfont.svg#helveticaneuecyrroman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helveticaneuecyr-bold_1-webfont.eot');
  src: url('../fonts/helveticaneuecyr-bold_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-bold_1-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-bold_1-webfont.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold_1-webfont.svg#helveticaneuecyrbold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('../fonts/infinitimetapro-normal-webfont.eot');
  src: url('../fonts/infinitimetapro-normal-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/infinitimetapro-normal-webfont.woff') format('woff'), url('../fonts/infinitimetapro-normal-webfont.ttf') format('truetype'), url('../fonts/infinitimetapro-normal-webfont.svg#infiniti_meta_pronormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'social';
  src: url('../fonts/fontello.eot?6348787');
  src: url('../fonts/fontello.eot?6348787#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?6348787') format('woff'), url('../fonts/fontello.ttf?6348787') format('truetype'), url('../fonts/fontello.svg?6348787#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon:before {
  font-family: "social";
}
.icon-facebook:before {
  content: '\e800';
}
/* '' */
.icon-instagramm:before {
  content: '\e801';
}
/* '' */
.icon-vkontakte:before {
  content: '\e802';
}
/* '' */
.icon-wheel:before {
  content: '\e803';
}
/* '' */
.icon-page:before {
  content: '\e804';
}
/* '' */
.icon-circle:before {
  content: '\e805';
}
/* '' */
.icon-bricks:before {
  content: '\e806';
}
/* '' */
.icon-angle-down:before {
  content: '\e807';
}
/* '' */
.icon-lock:before {
  content: '\e808';
}
/* '' */
.icon-angle-right:before {
  content: '\e809';
}
/* '' */
.icon-angle-left:before {
  content: '\e80a';
}
/* '' */
.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
.typical-link {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
.typical-link:hover {
  border-color: transparent;
}
.input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  margin: 30px 0;
  padding: 3px 0 0 10px;
  border: 1px solid #999;
  box-shadow: none;
  font-size: 18px;
  line-height: 1;
  outline: none;
}
.textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  margin: 30px 0;
  padding: 3px 0 0 10px;
  border: 1px solid #999;
  box-shadow: none;
  font-size: 18px;
  line-height: 1;
  outline: none;
  height: 158px;
  margin-bottom: 18px;
  resize: none;
}
.btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #633e7c;
  text-transform: uppercase;
  color: #fff;
  border: none;
}
.btn:hover {
  background: #7e4f9e;
}
.btn.small {
  padding: 9px 16px;
  font-size: 13px;
}
.btn.medium {
  padding: 15px 16px 17px;
  font-size: 13px;
}
.btn .icon {
  margin: 0 10px 0 0;
}
.btn-with-img {
  position: relative;
  display: inline-block;
  background: #633e7c;
  border: 0.125rem solid #633e7c;
  height: 3.4375rem;
  line-height: 3.3125rem;
  font-size: 0.9375rem;
  text-transform: uppercase;
  padding: 0 0.9375rem 0 2.5rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.btn-with-img:hover {
  background: #fff;
  color: #633e7c;
}
.btn-with-img:hover:after {
  opacity: 1;
}
.btn-with-img:hover:before {
  opacity: 0;
}
.inf-title {
  font-family: "MetaPro";
  text-transform: uppercase;
  font-size: 2.125rem;
}
.inf-text {
  font-family: "MetaPro";
  text-transform: uppercase;
  font-size: 0.9375rem;
}
.drive-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  background: #633e7c;
  border: 0.125rem solid #633e7c;
  height: 3.4375rem;
  line-height: 3.3125rem;
  font-size: 0.9375rem;
  text-transform: uppercase;
  padding: 0 0.9375rem 0 2.5rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.drive-btn:hover {
  background: #fff;
  color: #633e7c;
}
.drive-btn:hover:after {
  opacity: 1;
}
.drive-btn:hover:before {
  opacity: 0;
}
.drive-btn:before,
.drive-btn:after {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0.9375rem;
  top: 50%;
  margin-top: -0.5rem;
}
.drive-btn:before {
  background: url(../img/wheel.png);
  opacity: 1;
}
.drive-btn:after {
  background: url(../img/wheel-hover.png);
  opacity: 0;
}
.sect-wrapper {
  color: #000;
  padding: 0 78px;
}
.sect-wrapper header {
  position: relative;
}
.sect-wrapper header h1 {
  display: inline-block;
  margin: 114px 0 40px;
  font-size: 34.5px;
  font-family: 'MetaPro', sans-serif;
  line-height: .95;
  text-transform: uppercase;
}
.sect-wrapper header .year {
  display: inline-block;
  margin: 0 0 0 32px;
  font-size: 34.5px;
  font-family: 'MetaPro', sans-serif;
  line-height: .95;
  font-weight: 600;
  text-transform: uppercase;
}
.sect-wrapper header .price {
  position: absolute;
  top: 114px;
  right: 0;
  font-size: 34.5px;
  font-family: 'MetaPro', sans-serif;
  line-height: .95;
  font-weight: 600;
  text-transform: uppercase;
}
.sect-wrapper header .price span {
  font-size: 28px;
}
h1 {
  display: inline-block;
  margin: 114px 0 40px;
  font-size: 34.5px;
  font-family: 'MetaPro', sans-serif;
  line-height: .95;
  text-transform: uppercase;
}
h2 {
  margin: 52px 0 32px;
  font-size: 23px;
  line-height: .95;
  text-transform: uppercase;
}
h3 {
  margin: 52px 0 32px;
  font-size: 23px;
  line-height: .95;
  text-transform: uppercase;
}
.desc {
  font-size: 15px;
  line-height: 21px;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.typical-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 15px;
  line-height: 29px;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 77.5rem;
  margin: 0 auto;
}
.fl-r {
  float: right;
}
html {
  min-width: 1280px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.news-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0 0 148px;
}
.news-ul .news-li {
  padding: 60px 78px;
}
.news-ul .news-li:first-child {
  padding-top: 0;
}
.news-ul .news-li:nth-child(2n) {
  background: #f7f7f7;
}
.news-ul .news-li-left {
  float: left;
  width: 200px;
  font-size: 23px;
}
.news-ul .news-li-left .day {
  float: left;
  margin: 0 20px 0 0;
  line-height: .8;
}
.news-ul .news-li-left .date {
  position: relative;
  float: left;
  line-height: .8;
}
.news-ul .news-li-left .date:before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  border-left: 1px solid #633e7c;
  width: 0;
  height: 100%;
}
.news-ul .news-li-left .month {
  margin: 0 0 8px;
  text-transform: uppercase;
}
.news-ul .news-li-right {
  float: left;
  width: 738px;
}
.news-ul .news-li-right h2 {
  margin: 0 0 18px;
  font-size: 23px;
  line-height: .95;
}
.news-ul .news-li-right a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.news-ul .news-li-right a:hover {
  border-color: #000;
}
.main-header {
  font-family: 'HelveticaNeue';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 8.125rem;
  min-width: 80rem;
  text-align: center;
}
.main-header.static-header {
  position: relative;
  background: #32273a;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMjczYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzNmMmU0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDMwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #32273a 0%, #3f2e49 47%, #443053 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32273a), color-stop(47%, #3f2e49), color-stop(100%, #443053));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #32273a 0%, #3f2e49 47%, #443053 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #32273a 0%, #3f2e49 47%, #443053 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #32273a 0%, #3f2e49 47%, #443053 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #32273a 0%, #3f2e49 47%, #443053 100%);
}
.main-header .logo {
  float: left;
  display: inline-block;
  vertical-align: top;
  height: 8.125rem;
  width: 18.125rem;
  background: url('../img/logo.png') no-repeat center center / 6.8125rem 3.0625rem #ffffff;
}
.main-header .header-cont {
  vertical-align: top;
  display: inline-block;
  text-align: left;
}
.main-header .header-cont .fl-r {
  display: inline-block;
}
.main-header .header-cont .main-nav {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.875rem;
  margin-top: 1.875rem;
}
.main-header .header-cont .main-nav .option {
  display: inline-block;
  margin-right: 1.875rem;
}
.main-header .header-cont .main-nav .option:last-child {
  margin-right: 0;
}
.main-header .header-cont .main-nav .option a {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
}
.main-header .header-cont .head-models {
  margin-top: 0.9375rem;
}
.main-header .header-cont .head-models .model {
  display: inline-block;
  vertical-align: top;
  height: 2.5rem;
  margin-right: 4.375rem;
}
.main-header .header-cont .head-models .model:last-child {
  margin-right: 0;
}
.main-header .header-cont .head-models .title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6875rem;
  font-weight: 300;
  margin-bottom: 0.4375rem;
}
.main-header .header-cont .head-models .items a {
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1.0625rem;
}
.main-header .header-cont .head-models .items a:last-child {
  margin-right: 0;
}
.main-header .header-right {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin: 1.875rem 2.5rem 0 0;
  line-height: 1.875rem;
}
.main-header .header-right .search {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 2.1875rem;
}
.main-header .header-right .search .search-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0 none;
  background: rgba(255, 255, 255, 0.2);
  height: 1.4375rem;
  width: 9.0625rem;
}
.main-header .header-right .search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.875rem;
  background: url(../img/search-icon.png) no-repeat center center / 0.625rem 0.625rem;
  border: 0 none;
}
.main-header .header-right .gedon-link {
  display: inline-block;
  vertical-align: middle;
  width: 6.375rem;
  height: 2rem;
  background: url(../img/gedon.png) no-repeat 0 0 / 100%;
}
.js-slider .closed {
  opacity: 0;
}
.js-slider .slider-photo {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.js-slider .slide-info {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
}
.js-slider .slide-info.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.js-slider .slide-info.fadeout {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
}
.js-slider .js-thumbs,
.js-slider .js-slider-nav {
  display: none;
}
.js-slider .thumb {
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.js-slider .slider-nav-win {
  overflow: hidden;
}
.js-slider .transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.overlay {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  text-align: center;
  opacity: 0;
  z-index: -1;
  overflow: auto;
}
.overlay.active {
  opacity: 1;
}
.overlay:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.overlay .pop-window {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.overlay .pop-window.closed {
  display: none;
}
.overlay .pop-dtest {
  position: relative;
  width: 31.25rem;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}
.overlay .pop-dtest .js-pop-close {
  font-style: normal;
  font-size: 1.875rem;
  line-height: 1.25rem;
  position: absolute;
  cursor: pointer;
  color: #9a9a9a;
  top: 1.25rem;
  right: 1.25rem;
}
.overlay .pop-dtest .dtest-in {
  position: relative;
  margin: 0 auto;
  width: 20rem;
  padding: 1.25rem 0 5rem;
}
.overlay .pop-dtest .title {
  font-family: "MetaPro";
  text-transform: uppercase;
  font-size: 2.125rem;
  margin-bottom: 2.5rem;
}
.overlay .pop-dtest .dtest-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 300;
  padding: 0 0.625rem;
  margin-bottom: 0.9375rem;
  height: 2.5rem;
  width: 100%;
  background: transparent;
  border: 1px solid #9f9f9f;
}
.overlay .pop-dtest .dtest-input::-webkit-input-placeholder {
  color: #9a9a9a;
}
.overlay .pop-dtest .dtest-input:-moz-placeholder {
  color: #9a9a9a;
}
.overlay .pop-dtest .btn {
  padding: 0 1.5625rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
}
.slider-container {
  position: relative;
  z-index: 1;
  height: 60.625rem;
  background: #000;
}
.slider-container .slider-wrapper {
  height: 60.625rem;
}
.slider-container .slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-container .slider-img .slider-photo {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
}
.slider-container .slide-info {
  position: absolute;
  top: 35.625rem;
  left: 0.9375rem;
  width: 31.25rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.slider-container .slide-info .title {
  font-size: 1.4375rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
.slider-container .slide-info .text {
  font-size: 0.75rem;
  font-weight: 300;
  width: 25.625rem;
  line-height: 1.25rem;
}
.slider-container .slide-info .text p {
  margin: 0 0 0.4375rem;
}
.slider-container .slider-nav-win {
  padding-top: 1.25rem;
  position: absolute;
  top: 41.5625rem;
  right: 2.5rem;
  height: 4.5625rem;
  overflow: hidden;
}
.slider-container .slider-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 125rem;
  bottom: 0;
  left: 0;
}
.slider-container .slider-nav .thumb {
  position: relative;
  float: left;
  width: 9.0625rem;
  height: 4.6875rem;
  background-size: cover;
  background-position: center center;
  margin-right: 0.1875rem;
}
.slider-container .slider-nav .thumb:last-child {
  margin-right: 0;
}
.slider-container .slider-nav .thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.slider-container .slider-nav .thumb.active:before {
  content: "";
  position: absolute;
  top: -0.9375rem;
  left: 50%;
  margin-left: -0.9375rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.9375rem 0.9375rem 0.9375rem;
  border-color: transparent transparent #633e7c transparent;
}
.slider-container .slider-nav .thumb.active:after {
  background: rgba(0, 0, 0, 0);
}
.index-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 1.875rem;
  left: -0.9375rem;
}
.index-nav .option {
  display: inline-block;
  vertical-align: top;
  margin-right: 2.5rem;
}
.index-nav .option a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 15.9375rem;
  padding: 0.9375rem;
  border: 2px solid transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}
.index-nav .option:hover a {
  color: #8e65aa;
  border-color: #8e65aa;
}
.top-bg {
  position: relative;
}
.top-bg img {
  width: 100%;
}
.top-bg header {
  position: absolute;
  top: 124px;
  left: 78px;
  width: 400px;
}
.top-bg header h2 {
  margin: 0 0 16px;
  font-size: 34.5px;
  line-height: 37px;
  text-transform: uppercase;
}
.top-bg header .desc {
  font-size: 14px;
  text-transform: uppercase;
}
.buy-offer header {
  margin: 0 0 51px;
  padding: 51px 78px 0;
  color: #000;
}
.buy-offer header h2 {
  margin: 0 0 37px;
  font-size: 34.5px;
  line-height: 37px;
  text-transform: uppercase;
}
.buy-offer header .desc {
  font-size: 15px;
  line-height: 21px;
}
.buy-suboffer {
  color: #000;
  padding: 0 78px;
}
.buy-suboffer h1 {
  margin: 114px 0 40px;
  font-size: 34.5px;
  font-family: 'MetaPro', sans-serif;
  line-height: .95;
  text-transform: uppercase;
}
.buy-suboffer h2 {
  margin: 26px 0 26px;
  font-size: 23px;
  line-height: .95;
  text-transform: uppercase;
}
.used header {
  padding: 0;
}
.cars-filter {
  margin: 0 0 55px;
}
.cars-filter .SumoSelect {
  margin-right: 16px;
}
.cars-filter .founded {
  float: right;
  color: #aaa;
}
.cars-filter .founded span {
  color: #000;
}
.sub-offers-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0 0 61px;
}
.sub-offers-ul .sub-offers-li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 350px;
  height: 515px;
  margin: 0 86px 86px 0;
  border: 1px solid #e2e2e2;
  vertical-align: top;
}
.sub-offers-ul .sub-offers-li:nth-child(3n) {
  margin: 0;
}
.sub-offers-ul .sub-offers-li:hover {
  border-color: #ababab;
}
.sub-offers-ul .sub-offers-li .sub-offers-li-head {
  position: relative;
  width: 100%;
  height: 293px;
}
.sub-offers-ul .sub-offers-li .sub-offers-li-head a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub-offers-ul .sub-offers-li .sub-offers-li-body {
  padding: 22px 26px;
}
.sub-offers-ul .sub-offers-li .sub-offers-li-body .sub-offers-li-header {
  margin: 0 0 16px;
  font-size: 23px;
  line-height: 30px;
  text-decoration: uppercase;
}
.sub-offers-ul .sub-offers-li .sub-offers-li-body .sub-offers-li-header a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #000;
}
.sub-offers-ul .sub-offers-li .sub-offers-li-body .sub-offers-li-header a:hover {
  color: #333333;
}
.chars-list {
  margin: -7px 0 0;
}
.chars-list dt {
  float: left;
  font-size: 15px;
  line-height: 29px;
}
.chars-list dd {
  font-size: 15px;
  line-height: 29px;
  font-weight: 600;
  text-align: right;
}
.main-footer {
  background: #000;
  padding: 2.1875rem 0 0;
  font-size: 0.6875rem;
}
.main-footer .footer-top {
  color: rgba(255, 255, 255, 0.4);
}
.main-footer .footer-left {
  display: inline-block;
  vertical-align: top;
}
.main-footer .footer-block {
  display: inline-block;
  vertical-align: top;
  padding-right: 2.8125rem;
}
.main-footer .footer-block .title {
  font-size: 0.6875rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}
.main-footer .footer-block .footer-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.25rem;
}
.main-footer .footer-block .footer-ul .option a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  font-size: 0.6875rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.main-footer .footer-block .footer-ul .option a:hover {
  color: #ffffff;
}
.main-footer .footer-block .footer-ul .line {
  position: relative;
}
.main-footer .footer-block .footer-ul .line:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
  height: 1px;
  width: 3.125rem;
  background: rgba(255, 255, 255, 0.4);
}
.main-footer .footer-right {
  position: relative;
  top: -0.25rem;
  display: inline-block;
  vertical-align: top;
  line-height: 1.4375rem;
  float: right;
}
.main-footer .footer-right .contact-block {
  display: block;
  margin-bottom: 0.9375rem;
}
.main-footer .footer-right .contact-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.main-footer .footer-right .soc-icons {
  font-size: 1.25rem;
}
.main-footer .footer-right .soc-icons .soc-link {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  font-family: "social";
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 0.3125rem;
}
.main-footer .footer-right .soc-icons .soc-link:hover {
  color: #fff;
}
.main-footer .footer-right .icon-fb:before {
  content: '\e800';
}
.main-footer .footer-right .icon-in:before {
  content: '\e801';
}
.main-footer .footer-right .icon-vk:before {
  content: '\e803';
}
.main-footer .footer-bottom {
  padding: 5.9375rem 0 1.5625rem;
}
.main-footer .footer-bottom a {
  color: #fff;
  text-decoration: none;
}
.complectations {
  width: 1064px;
  margin: 0 auto;
  padding: 60px 0 0;
  color: #000;
}
.complectations h1 {
  display: inline-block;
  margin: 0 99px 0 0;
  font-size: 34.5px;
  font-family: 'MetaPro', sans-serif;
  line-height: 37px;
  text-transform: uppercase;
  vertical-align: middle;
}
.complectations header {
  margin: 0 0 37px;
}
.complectations header button {
  display: inline-block;
  vertical-align: middle;
}
.filter {
  display: inline-block;
  font-family: 'HelveticaNeue', sans-serif;
}
.filter .filter-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 65px;
}
.filter .filter-li {
  display: inline-block;
  margin: 0 18px 0 0;
  vertical-align: middle;
  font-size: 14px;
}
.filter .filter-li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
  font-weight: 300;
}
.filter .filter-li a:hover {
  border-color: transparent;
}
.car-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.car-list .car-item {
  margin: 0 0 32px;
  padding: 0 0 32px;
  border-bottom: 2px dotted;
}
.car-list .car-item:last-child {
  border: 0 none;
}
.car-list .car-item .car-head {
  vertical-align: top;
  display: inline-block;
  width: 280px;
  font-size: 14px;
}
.car-list .car-item .car-head h3 {
  margin: 0;
  font-weight: 600;
}
.car-list .car-item .car-head .car-price {
  margin: 0 0 24px;
}
.car-list .car-item .car-body {
  vertical-align: top;
  display: inline-block;
  width: 784px;
}
.car-list .car-item .car-body .car-links {
  margin: 0 0 32px 0;
  font-size: 13px;
  text-transform: uppercase;
}
.car-list .car-item .car-body .car-links a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 34px 0 0;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.car-list .car-item .car-body .car-links a:hover {
  border-color: #000;
}
.car-list .car-item .car-body .car-prop {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 14px;
  line-height: 24px;
}
.auto-slider .slider-nav-win {
  position: relative;
  height: 7rem;
  background: #1e1e1c;
  text-align: center;
}
.auto-slider .slider-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  display: inline-block;
}
.auto-slider .slider-nav .thumb {
  position: relative;
  display: inline-block;
  width: 13.4375rem;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.auto-slider .slider-nav .thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.auto-slider .slider-nav .thumb.active:before {
  content: "";
  position: absolute;
  top: -0.9375rem;
  left: 50%;
  margin-left: -0.9375rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.9375rem 0.9375rem 0.9375rem;
  border-color: transparent transparent #633e7c transparent;
}
.auto-slider .slider-nav .thumb.active:after {
  background: rgba(0, 0, 0, 0);
}
.auto-slider .slider-window {
  position: relative;
  background: #fff;
  height: 43.4375rem;
}
.auto-slider .slider-window .wrapper {
  height: 100%;
}
.auto-slider .slider-window .slider-photo {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 80.625rem;
  margin: 0 0 0 -40.3125rem;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.auto-slider .slider-window .auto-info {
  position: absolute;
  top: 6.25rem;
  left: 0;
  color: #000;
  z-index: 2;
}
.auto-slider .slider-window .auto-info .title {
  font-family: "MetaPro";
  text-transform: uppercase;
  font-size: 2.125rem;
  margin-bottom: 1.125rem;
}
.auto-slider .slider-window .auto-info .text {
  text-transform: uppercase;
  font-size: 0.9375rem;
}
.auto-slider .slider-window .auto-info .price {
  font-size: 1.4375rem;
  margin: 0.3125rem 0;
}
.auto-slider .slider-window .auto-info .drive-btn {
  margin-top: 1rem;
}
.model-sect {
  background: #000;
}
.model-sect h1 {
  margin: 0;
  padding: 64px 0;
  font-family: 'MetaPro', sans-serif;
  font-size: 34.5px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}
.columns {
  max-width: 960px;
  margin: 0 auto;
}
.columns .column-50 {
  float: left;
  width: 48%;
}
.columns .column-100 {
  clear: both;
}
.columns .column-100 .column-head {
  height: 442px;
}
.columns .column-left {
  margin: 0 2% 50px 0;
}
.columns .column-right {
  margin: 0 0 50px 2%;
}
.columns .column-head {
  height: 264px;
}
.columns .column-body h2 {
  margin: 24px 0;
  font-size: 14px;
  text-transform: uppercase;
}
.columns .column-body .column-desc {
  font-size: 12px;
  line-height: 22px;
}
.gallery-block {
  position: relative;
  height: 100vh;
}
.gallery-block .title {
  font-family: "MetaPro";
  text-transform: uppercase;
  font-size: 2.125rem;
  margin-bottom: 1.25rem;
}
.gallery-block .gallery-info {
  position: absolute;
  left: 0;
  top: 7.8125rem;
}
.gallery-block .gallery-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.gallery-block .gallery-photo .gallery-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.gallery-block .gal-prev {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  left: 3.125rem;
  top: 50%;
  width: 30px;
  height: 45px;
}
.gallery-block .gal-prev:before {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 2px;
  height: 50%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.gallery-block .gal-prev:after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 50%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.gallery-block .gal-prev:hover {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.gallery-block .gal-prev:hover:after {
  background: #ffffff;
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
}
.gallery-block .gal-prev:hover:before {
  background: #ffffff;
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
}
.gallery-block .gal-next {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  right: 3.125rem;
  top: 50%;
  width: 30px;
  height: 45px;
}
.gallery-block .gal-next:before {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 2px;
  height: 50%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.gallery-block .gal-next:after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 50%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.gallery-block .gal-next:hover {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.gallery-block .gal-next:hover:after {
  background: #ffffff;
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
}
.gallery-block .gal-next:hover:before {
  background: #ffffff;
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
}
.gallery-block .gal-half {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.gallery-block .gal-half:before {
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.gallery-block .gal-half:hover:before {
  background: rgba(0, 0, 0, 0);
}
.gallery-block .gal-half:hover .gal-play {
  opacity: 0;
  -webkit-transform: scale(2);
  transform: scale(2);
}
.gallery-block .gal-half .gal-play {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.65625rem;
  margin-left: -2.65625rem;
  width: 5.3125rem;
  height: 5.3125rem;
  border-radius: 5.3125rem;
  border: 6px solid rgba(255, 255, 255, 0.5);
}
.gallery-block .gal-half .gal-play:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12.5px;
  margin-left: -3.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 13px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}
.jcarousel {
  height: 428px;
  background: #ccc;
}
.used-car .chars {
  float: left;
  width: 23%;
  margin: 0 7% 0 0;
}
.used-car .complectation {
  width: 70%;
  float: left;
}
.used-car .book-auto {
  margin: 50px 0 0;
}
.used-car .used-car-options {
  margin: 0 0 146px;
}
.information {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 70px;
  color: #000;
}
.information h2 {
  font-size: 34.5px;
  font-family: 'MetaPro', sans-serif;
  line-height: .95;
  text-transform: uppercase;
}
.information .tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 56px 0 0;
}
.information .tabs li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  margin: 0 28px 0 0;
  padding: 16px 21px;
  font-size: 23px;
  line-height: .95;
  text-transform: uppercase;
  cursor: pointer;
}
.information .tabs li:after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 2px solid transparent;
}
.information .tabs li:hover,
.information .tabs li.active {
  color: #8e65aa;
}
.information .tabs li:hover:after,
.information .tabs li.active:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-color: #8e65aa;
}
.information .tabs-content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.information .tabs-content .tab-li {
  display: none;
}
.information .tabs-content .tab-li.active {
  display: block;
}
.information .column {
  float: left;
}
.information .column img {
  max-width: 100%;
}
.information .column p:first-child {
  margin-top: -3px;
}
.information .column p:last-child {
  margin-bottom: 0;
}
.information .column-40 {
  width: 40%;
}
.information .column-40:first-child {
  width: 35%;
  margin: 0 5% 0 0;
}
.information .column-60 {
  width: 60%;
}
.information .column-60:first-child {
  width: 55%;
  margin: 0 5% 0 0;
}
.accessories .acc-dl {
  margin: 0 0 9.25rem;
}
.accessories .acc-dd {
  margin: 0;
}
.accessories .acc-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.accessories .acc-li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  height: 12.375rem;
  border: 1px solid #e0e0e0;
  margin: 0 0 1.25rem;
}
.accessories .acc-li:last-child {
  margin-bottom: 0;
}
.accessories .acc-li:hover {
  border-color: #ababab;
}
.accessories .acc-left {
  float: left;
  position: relative;
  width: 17.625rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
}
.accessories .acc-left a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.accessories .acc-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 58.625rem;
  height: 100%;
  padding: 2.5rem 0 0 1.5rem;
}
.accessories .acc-right h2 {
  margin-top: 0;
  margin-bottom: 0.875rem;
}
.accessories .acc-right h2 a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.accessories .acc-right h2 a:hover {
  border-color: #000;
}
.accessories .acc-right .desc {
  max-width: 32rem;
}
.accessories .acc-right .price {
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  font-size: 1.125em;
  line-height: 1.16666667em;
}
.accessories .acc-right .availability {
  position: absolute;
  bottom: 1.25rem;
  right: 1.5rem;
  font-size: 1.125em;
  line-height: 1.16666667em;
  color: #999;
}
.contacts {
  font-size: 15px;
  line-height: 21px;
}
.contacts .contact-wrapper {
  margin-bottom: 148px;
}
.contacts .desc {
  max-width: 730px;
  margin: 0 0 70px;
}
.contacts .left {
  float: left;
  width: 360px;
}
.contacts .left div:first-child h2 {
  margin-top: 0;
}
.contacts .left h2 {
  margin: 50px 0 16px;
}
.contacts .left address {
  font-style: normal;
}
.contacts .left a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.contacts .mid {
  float: left;
  width: 547px;
}
.contacts .mid div:first-child h2 {
  margin-top: 0;
}
.contacts .mid h2 {
  margin: 50px 0 16px;
}
.contacts .mid .map {
  width: 480px;
  height: 380px;
  background: #ddd;
}
.contacts .right {
  float: left;
  width: 318px;
}
.contacts .right h2 {
  margin-top: 0;
}
.contacts .right .SlectBox,
.contacts .right .SlectBoxa {
  width: 306px;
}
.contacts .right .btn {
  float: right;
}
@media screen and (min-width: 1800px) {
  .sub-offers-ul .sub-offers-li:nth-child(3n) {
    margin: 0 86px 86px 0;
  }
}
@media screen and (max-width: 1379px) {
  .sub-offers-ul .sub-offers-li {
    margin: 0 36px 86px 0;
  }
  .main-header .logo {
    width: 16.25rem;
  }
}
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
}
/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.jcarousel li:first-child {
  border-left: none;
}
.jcarousel li:last-child {
  border-right: none;
}
.jcarousel-wrapper {
  position: relative;
}
.jcarousel-control {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  font-size: 32px;
  line-height: 1;
  outline: none !important;
}
.jcarousel-control.inactive {
  opacity: .35;
}
.jcarousel-control:hover {
  opacity: 0.65;
}
.jcarousel-control-prev {
  left: 32px;
  color: #fff;
  text-decoration: none;
}
.jcarousel-control-next {
  right: 32px;
  color: #fff;
  text-decoration: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
