.idea
/vendor
composer.phar
composer.lock
/.htaccess

#/var/www/test.grapheme.ru/public_html/public/uploads

#public_html/uploads/*
#public_html/uploads/galleries/thumbnail/*.gpg
#public_html/uploads/galleries/thumbnail/*.png

#public_html/uploads/galleries/*.jpg
#public_html/uploads/galleries/thumbs/*.jpg
test.txt