.wrapper {
	position: relative;
	width: 100%;
	max-width: 1240rem / @htmlFontSize;
	margin: 0 auto;
}

.colorWrapper {

	color: #000;

	&[data-color="1"] {
		background-image: url("../img/fx35.jpg");
	}
	&[data-color="2"] {
		background-image: url("../img/fx35.jpg");
	}
	&[data-color="3"] {
		background-image: url("../img/fx35.jpg");
	}
	&[data-color="4"] {
		background-image: url("../img/fx35.jpg");
	}
	&[data-color="5"] {
		background-image: url("../img/fx35.jpg");
	}
	&[data-color="6"] {
		background-image: url("../img/fx35.jpg");
	}
	&[data-color="7"] {
		background-image: url("../img/fx35.jpg");
	}
	&[data-color="8"] {
		background-image: url("../img/fx35.jpg");
	}
	 

	.wrapper;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #fff;

	&.active {
		z-index: 3;
	}

	.color-head {
		display: inline-block;
		margin: 114rem / @htmlFontSize 0 40rem / @htmlFontSize;

		font-size: 34.5em / @htmlFontSize;
		font-family: 'MetaPro', sans-serif;
		line-height: .95;
		text-transform: uppercase;
	}

	.color-name {
		font-size: 11em / @htmlFontSize;
		line-height: 13em / 11;
		padding: 8rem / @htmlFontSize 14rem / @htmlFontSize;
		color: #1c1c1c;
	}

	.color-close {
		.transition;
		position: absolute;
		top: 100rem / @htmlFontSize;
		left: 250rem / @htmlFontSize;
	    color: #aaa;
	    font-size: 63em / @htmlFontSize;
	    line-height: 0.75;
	    cursor: pointer;

	    &:hover {
	    	color: #ccc;
	    }
	}

	.colors-list {
		.list-unstyled;
		width: 144rem / @htmlFontSize;

		.color-item {
			float: left;
			width: 30rem / @htmlFontSize;
			height: 30rem / @htmlFontSize;
			margin: 0 6rem / @htmlFontSize 38rem / @htmlFontSize 0;
			background: #000;

			cursor: pointer;

			&[data-color="1"] {
				background: #333232;
			}
			&[data-color="2"] {
				background: #636161;
			}
			&[data-color="3"] {
				backgorund: #c8c4a2;
			}
			&[data-color="4"] {
				background: #798694;
			}
			&[data-color="5"] {
				background: #636761;
			}
			&[data-color="6"] {
				background: #623e3e;
			}
			&[data-color="7"] {
				background: #3a3355;
			}
			&[data-color="8"] {
				background: #475461;
			}
		}
	}
}

.fl-r {
	float: right;
}

html {
	min-width: 1280rem / @htmlFontSize;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}