.wrapper {
	position: relative;
	width: 100%;
	max-width: 1240rem / @htmlFontSize;
	margin: 0 auto;
}

.fl-r {
	float: right;
}

html {
	min-width: 1280px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}