.exist-table {
	font-family: "Open Sans";
	width: 100%;

	td, th {
		padding: 25rem / @htmlFontSize 0 25rem / @htmlFontSize 25rem / @htmlFontSize;
	}

	thead {
		tr {
			text-align: left;
			background-color: #050505;
			color: #fff;
			font-size: 14rem / @htmlFontSize;
			height: 55rem / @htmlFontSize;
			font-weight: 300;
		}
	}

	.car-desc {
		color: #1c1c1c;
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		width: 127px;
		height: 57px;
	}
}