.exist-table {
	width: 100%;

	thead {
		tr {
			background-color: #050505;
			color: #fff;
			font-size: 14rem / @htmlFontSize;
			font-family: "Open Sans";
			height: 55rem / @htmlFontSize;
			font-weight: 200;
		}
	}
}