@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLT-UltraLight.eot?') format('eot'), 
	     url('../fonts/HelveticaNeueLT-UltraLight.woff') format('woff'), 
	     url('../fonts/HelveticaNeueLT-UltraLight.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeueLT-UltraLight.svg#HelveticaNeueLT-UltraLight') format('svg');
}
@font-face {
  font-family: 'social';
  src: url('../fonts/fontello.eot?99579403');
  src: url('../fonts/fontello.eot?99579403#iefix') format('embedded-opentype'),
       url('../fonts/fontello.svg?99579403#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}