.main-header {
	font-family: 'HelveticaNeue';
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 130rem / @htmlFontSize;
	min-width: @min-width;
	text-align: center;

	&.static-header {
		position: relative;
		background: #32273a;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMjczYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzNmMmU0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDMwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #32273a 0%, #3f2e49 47%, #443053 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32273a), color-stop(47%,#3f2e49), color-stop(100%,#443053)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #32273a 0%,#3f2e49 47%,#443053 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #32273a 0%,#3f2e49 47%,#443053 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #32273a 0%,#3f2e49 47%,#443053 100%); /* IE10+ */
		background: linear-gradient(to bottom, #32273a 0%,#3f2e49 47%,#443053 100%);
	}

	.logo {
		float: left;
		display: inline-block;
		vertical-align: top;
		height: 130rem / @htmlFontSize;
		width: 290rem / @htmlFontSize;
		background: url('../img/logo.png') no-repeat center center e('/') 109rem / @htmlFontSize 49rem / @htmlFontSize #fff;
	}

	.header-cont {
		vertical-align: top;
		display: inline-block;
		text-align: left;

		.fl-r {
			display: inline-block;
		}

		.main-nav {
			display: inline-block;
			vertical-align: middle;
			line-height: 30rem / @htmlFontSize;
			margin-top: 30rem / @htmlFontSize;

			.option {
				display: inline-block;
				margin-right: 30rem / @htmlFontSize;

				&:last-child {
					margin-right: 0;
				}

				a {
					color: #fff;
					text-decoration: none;
					font-size: 14rem / @htmlFontSize;
					font-weight: 300;
				}
			}
		}

		.head-models {
			margin-top: 15rem / @htmlFontSize;

			.model {
				display: inline-block;
				vertical-align: top;
				height: 40rem / @htmlFontSize;
				margin-right: 70rem / @htmlFontSize;

				&:last-child {
					margin-right: 0;
				}
			}

			.title {
				color: rgba(255, 255, 255, 0.5);
				font-size: 11rem / @htmlFontSize;
				font-weight: 300;
				margin-bottom: 7rem / @htmlFontSize;
			}

			.items {
				a {
					font-size: 14rem / @htmlFontSize;
					font-weight: 400;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					margin-right: 17rem / @htmlFontSize;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.header-right {
		display: inline-block;
		vertical-align: top;
		float: right;
		margin: 30rem / @htmlFontSize 40rem / @htmlFontSize 0 0;
		line-height: 30rem / @htmlFontSize;

		.search {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin-right: 35rem / @htmlFontSize;

			.search-input {
				.box-sizing;
				padding: 0;
				margin: 0;
				border: 0 none;
				background: rgba(255, 255, 255, 0.2);
				height: 23rem / @htmlFontSize;
				width: 145rem / @htmlFontSize;
			}

			.search-btn {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 30rem / @htmlFontSize;
				background: url(../img/search-icon.png) no-repeat center center e('/') 10rem / @htmlFontSize 10rem / @htmlFontSize;
				border: 0 none;
			}
		}

		.gedon-link {
			display: inline-block;
			vertical-align: middle;
			width: 102rem / @htmlFontSize;
			height: 32rem / @htmlFontSize;
			background: url(../img/gedon.png) no-repeat 0 0 e('/') 100%;
		}
	}
}