@media screen and (min-width: 1800px) {
	.sub-offers-ul {
		.sub-offers-li {
			&:nth-child(3n) {
				margin: 0 86px 86px 0;
			}
		}
	}	
}

@media screen and (max-width: 1379px) {
	.sub-offers-ul {
		.sub-offers-li {
			margin: 0 36px 86px 0;
		}
	}

	.main-header .logo {
		width: 260rem / @htmlFontSize;
	}
}