.complectations {
	width: 1064px;
	margin: 0 auto;
	padding: 60px 0 0;
	color: #000;

	h2 {
		float: left;
		margin: 0 0 37px;

		font-size: 34.5px; 
		line-height: 37px;
		text-transform: uppercase;
	}

	header {
		.filter {
			float: left;
		}
		button {
			float: left;
		}
	}
}