.js-slider {
	.closed {
		opacity: 0;
	}

	.slider-photo {
		position: absolute;
		top: 0;
		left: 0;
		.transition(all, 1s);
	}

	.js-thumbs, .js-slider-nav {
		display: none;
	}

	.thumb {
		.transition(opacity);
	}

	.slider-nav-win {
		overflow: hidden;
	}

	.transition {
		.transition();
	}
}