@htmlFontSize: 16;
@min-width: 768rem / @htmlFontSize;

.transition(@elem: all, @duration: .5s, @effect: ease) {
	-webkit-transition: @elem @duration @effect;
	transition: @elem @duration @effect;
}

.box-sizing(@val: border-box) {
	-webkit-box-sizing: @val;
	-moz-box-sizing: @val;
	box-sizing: @val;
}

.list-unstyled {
	padding: 0;
	margin: 0;
	list-style: none;
}
.fl-r {
	float: right;
}
.fl-l {
	float: left;
}